@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  &-desktop {
    width: 45%;
  }
}