@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

%text {
  color: #FBFBFD;
  font-family: Rubik;
}
p {
  @extend %text;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.error {
  margin-top: 4px;
  margin-bottom: 0;
  color: red;
}
.title {
  @extend %text;
  font-size: 16px;
  margin-bottom: 10px;
  &-desktop {
    font-size: 25px
  }
}
label {
  @extend %text;
  font-size: 16px;
}
h2 {
  @extend %text;
  font-size: 32px;
}
.h2-desktop {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 25px;
  align-self: start;
}