.result {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.result-button {
  display: flex;
  width: 300px;
  height: 48px;
  border-radius: 8px;

  gap: 10px;
  align-items: center;
}

.line {
  height: 4px;
  width: 300px;
  background-color: #84849A;
}

img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}