.input {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 12px 0;

  &-group {
    margin-top: 5px;
    height: 30px;
    background-color: #101019;
    border-radius: 6px;
    color: #AAAABF;
    outline: none;
    border: 1px solid #353542;
    padding-left: 10px;
  }

  &-desktop {
    margin: 0;
  }
}
